{{#each person in model itemController="person"}}
    <li {{bind-attr class=":person person.present::absent person.isWinner:winner:"}}>
        <div {{bind-attr class=":person-check person.present:present:absent"}}></div>
        <div class="person-name" {{action 'togglePresent' person}}>{{person.name}}
            <span class="person-close" {{action 'removePerson' person}}>&times;</span>
        </div>
    </li>
{{/each}}

<div class="sect-random">
<button {{action 'scrollWinners'}} {{bind-attr disabled="notEnoughPeople"}}>Random!</button>
</div>

<div class="sect-winner"><h1>{{randomWinner.name}}</h1></div>

<div class="sect-entry">
  {{input id="new_name" type="text" value=newName length="10" action='addPerson'}}
  <button {{action 'addPerson'}}>&plus;</button>
</div>

<!--
<div id="names-home"></div>-->
